@charset "UTF-8";

/* Typical Device breakpoint 
 Pquenas telas: até 600px
 Celular: 600px ate 768px
 Tablet: 768px até 992px
 Desktop: 992 até 1200px
 Grandes telas: acima de 1200px
*/

@media screen and (min-width: 992px) {


    header {
        height: 130px;
        position: relative;
    }

    header .cabecalho {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    header .logo {
        background-image: url(../imagens/neotech-escrita.png);
        background-size: contain;
        width: 270px;
        height: 64px;
        padding-top: 10px;
        display: inline-block;
        margin-left: 17%;
    }

    #burguer {
        display: none;
    }

    nav {
        display: inline-block;

    }

    nav ul li {
        display: inline-block;
    }

    nav > ul > li > a {
        padding: 10px;
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        border: 0px; 
    }

    nav > ul > li > a:hover {
        background-color: #e0b400;
        border-radius: 10px;
        transition: 1s;
    }

    .limitador {
        max-width: 1200px;
        margin: auto;
    }

    .div-pecas {
        margin: auto;
        width: 900px;
    }

    .linha-de-pecas .pecas {
        display: inline-block;
        width: 250px;
        height: 250px;
    }

    .linha-de-pecas #injetores {
        background-size: contain;
        width: 250px;
        height: 250px;
    }
    
    .linha-de-pecas #bombas {
        background-image: url(../imagens/bomba-neo-900px.png);
        background-size: contain;
        width: 255px;
        height: 250px;
    }
    
    .linha-de-pecas #bomba {
        margin: 70px;
    }

    .linha-de-pecas #sensores {
        background-size: contain;
        width: 250px;
        height: 250px;
    }

    .linha-de-pecas #ver-todas-linhas {
        max-width: 1200px;
        padding: 15px 0px;
    }
}