@charset "UTF-8";

/* Typical Device breakpoint 
 Pquenas telas: até 600px
 Celular: 600px ate 768px
 Tablet: 768px até 992px
 Desktop: 992 até 1200px
 Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    header > .logo {
        width: 222px;
        height: 143px;
    }

    #burguer {
        font-size: 2em;
        padding: 12px;
    }

    nav > ul > li > a {
        padding: 12px;
        font-size: 1.2em;
        border: 0.5px solid #e0b400; 
    }

    .introducao {
        font-size: 2em;
        padding: 30px 70px;
    }

    .linha-de-pecas #titulo-linhas {
        font-size: 3em;
    }

    .linha-de-pecas .pecas {
        width: 65%;
        height: 430px;
    }

    .linha-de-pecas #injetores {
        width: 230px;
        height: 50%;

    }
    
    .linha-de-pecas #bombas {
        width: 378px;
        height: 224px;
    }
    
    .linha-de-pecas #sensores {
        width: 280px;
        height: 230px;
    }

    footer #frase-footer {
        width: 60%;
        font-size: 1.2em;
    }

    footer .titulo-footer {
        font-size: 2em;
    }

    .complementos {
        font-size: 1.2em;
    }
    
    .enderecos {
        transform: translateY(-11px);
    }

    .icons {
        width: 34px;
    }
}