@charset "UTF-8";


.linha-de-pecas {
    display: block;

}

.linha-de-pecas .pecas {
    width: 40%;
    height: 215px;
    background-color: white;
    border-radius: 20px;

}

.linha-de-pecas #injetores {
    width: 40%;
    height: 50%;
}

.linha-de-pecas #bombas {
    width: 255px;
    height: 145px;
}

.linha-de-pecas #sensores {
    width: 45%;
    height: 50%;
}

.linha-de-pecas .nome-da-peca {
    margin: 9% auto;
    font-size: 1em;
    padding: 0px;

}