@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 15vh;
    display: block;
    border-bottom: 3px solid #e0b400;
}

header > nav > #burguer {
    color: #e0b400;
    display: inline-block;
    float: right;
    margin: 37px 25px;
}
header > nav > .logo {
    background-image: url(../imagens/neotech-logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 100px;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}

header > nav > .links {
    display: none;
}

header > nav > .links > ul {
list-style-type: none;
}
.caminhao{
    width: 100%;
    height: 800px;
    background-image: url(../imagens/caminhao.grande.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.frase{
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    top: 13.5%;
    right: 66%;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 6vh;
    font-weight: 100;
    line-height: 41px;
    text-shadow: 3px 2px 1px black;
    font-style: italic;
}
    
.logo-abaixo{
    position: absolute;
    background-image: url(../imagens/neotech-logopng.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 319px;
    height: 227px;
    top: 70%;
    right: 1%;

}

.conheca{
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #FECC02;
    text-shadow: 3px 2px 5px black;
    font-variant: small-caps;
}

.pecas{
    margin: auto;
    max-width: 1200px;
    height: 250px;
    display: flex;
}

.peca1{
    background-image: url(../imagens/injetor.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 300px;
    height: 250px;
    margin: auto;
    transition: 0.8s;
}

.peca2{
    background-image: url(../imagens/mprop-caixa.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 250px;
    margin: auto;
    transition: 0.8s;
}

.peca3{
    background-image: url(../imagens/sensor-caixa.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 250px;
    margin: auto;
    transition: 0.6s;
}

.peca1:hover{
    background-image: url(../imagens/ponta-do-injetor.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 300px;
    height: 250px;
    margin: auto;
    transition: 0.8s;
}

.peca2:hover{
    background-image: url(../imagens/mprop.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 250px;
    margin: auto;
    transition: 0.8s;
}

.peca3:hover{
    background-image: url(../imagens/sensor.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 250px;
    margin: auto;
    transition: 0.6s;
}

.produtos{
    display: flex;
    margin: auto;
    max-width: 1200px;
}

.prod{ 
    font-size: 3vh;
    margin: auto auto 6vh auto;
    width: 255px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #d4aa00d8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.87);


}

.apresentacao{
    width: 100%;
    height: 47vh;
    background-image: linear-gradient(to bottom, rgb(32, 32, 32), rgb(0, 0, 0));

}

.imgs{
    width: 70%;
    margin: auto;
    padding-top: 22px ;
    display: flex;
}

.img{
    width: 100px;
    margin: auto;
}

.titulo-ap-mae{
    width: 70%;
    margin: auto;
    display: flex;
}

.titulo-ap{
    width: 226px;
    margin: auto;
    color: white;
    font-size: 3vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20PX white;
}

.frases-mae{
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frases{
    max-width: 300px;
    max-height: 250px;
    text-align: center;
    margin: 0px auto 0px auto;
    font-size: 3vh;
    color: rgb(160, 160, 160);
    font-weight: bold;
}

.catalogo{
    margin: auto;
    max-width: 1200px;
    height: 430px;
    position: relative;
}

.catalogo > h1{
    color: #FECC02;
    font-size: 6vh;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    text-shadow: 3px 2px 5px black;
    font-variant: small-caps;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.catalogo-capa{
    width: 245px;
    height: 347px;
    margin: auto;
    background-image: url(../imagens/catalogo-neo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 19%;
    transform: translate(-47%);

    
}