@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700&family=Sriracha&display=swap');

/* Amarelo neotech: #fdcc02 */

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(238, 238, 238);
}

/*Menu De Celular*/

header{
    background-color: rgb(0, 0, 0);
    display: block;
    border: 2px solid #e0b400;
    
}

header > .logo {
    background-image: url(../imagens/neotech-logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    width: 160px;
    height: 100px;
    margin: auto;
}

#burguer {
    background-color: rgb(17, 17, 17);
    display: block;
    color: #c79f00;
    text-align: center;
    padding: 10px;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none; /* tirar as bolinhas antes da palavra da lista */

}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none; /* Tirar o Underline do menu */
    background-color: rgb(17, 17, 17);
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e0b400;
    
}
/*Fim do Menu de celular*/

/*Inicio caminhao*/
.caminhao{
    width: 100%;
    height: 60vh;
    background-image: url(../imagens/img.caminhao-logo-maior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
/*Fim caminhao*/

/*Inicio apresentação*/

#apresentacao {
    background: linear-gradient(to bottom, rgb(54, 54, 54) 95%,#ffcc00, #ffcc00) ;
}

.introducao {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 30px 50px;

}

#texto {
    padding-bottom: 60px;
}

.destaque {
    color: #fdcc02;
    font-weight: bolder;
    
}
/*Fim apresentação */

/*Inicio Linhas de peças*/

.linha-de-pecas {
    background: linear-gradient(to bottom, #ffcc00 95%, rgb(238, 238, 238)) ;
    padding-bottom: 50px;
}

.linha-de-pecas #titulo-linhas {
    text-align: center;

    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.linha-de-pecas .pecas {
    width: 90%;
    height: 55vh;
    background-color: white;
    margin: 25px auto;
    border-radius: 20px;

}

.linha-de-pecas .pecas p {
    color: white;
}

.linha-de-pecas #injetores {
    background-image: url(../imagens/injetor.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 50%;
    margin: auto;
    padding-top: 10px;
}

.linha-de-pecas #bombas {
    background-image: url(../imagens/bomba-neo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 82%;
    height: 41%;
    margin: auto;
    padding-top: 10px;
}

.linha-de-pecas #sensores {
    background-image: url(../imagens/sensor.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 50%;
    margin: auto;
    padding-top: 10px;
}

.linha-de-pecas .nome-da-peca {
    width: 50%;
    margin: 15% auto;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
    text-align: center;
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 20px;

}

.linha-de-pecas #p-bomba {
    width: 70%;
}

.linha-de-pecas #ver-todas-linhas {
    width: 70%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}

.linha-de-pecas #ver-todas-linhas a {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.linha-de-pecas #ver-todas-linhas a:active {
    color: #ffcc00;
}
/* Fim da sessão de peças */

/* Inicio sessão de contato e duvida */
#duvida {
   padding-bottom: 30px;
}

#frase-duvida {
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#contato {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #ffcc00;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5em;

}

#link-contato {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#link-contato:active {
    color: black;
}
/* Fim da sessão contato e dúvida */

/* Início Footer */

footer {
    background: linear-gradient(to top, black 90%, rgb(238, 238, 238) );
    color: white;
    padding: 45px 0px 30px 23px;
}

footer #logo-footer {
    background-image: url(../imagens/neotech-escrita.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 5vh;

}

footer #frase-footer {
    width: 70%;
    padding: 15px 0px 20px 0px;
    text-align: left;
    font-weight: bold;
}

footer .titulo-footer {
    padding: 10px 0px 10px 0px;

}

.complementos {
    display: block;
    padding-left: 10px;
}

.icons {
    background-color: #ffcc00;
    width: 5%;
    border-radius: 55%;
    display: inline-block;
}

.enderecos {
    display: inline-block;
    transform: translateY(-4px);
}

.icons-sociais {
    background-color: #ffcc00;
    width: 10%;
    border-radius: 55%;
    display: inline-block;
}
/* Fim Footer */