@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

header{
    min-height: 150px;
    background-color: rgb(0, 0, 0);
}

#teste{
    min-width: 300px;
    max-width: 1080px;
    margin: auto;
    position: relative;
    display: flex;
    border: 1px solid white;
}

#logo{
    height: 200px;
    width: 230px;
    background-image: url(../imagens/neotech-logopng.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    border: 1px solid white;
}

#titulo{
    text-align: center;
    height: 100px;
    max-width: 710px;
    min-width: 150px;
    position: absolute;
    left: 25%;
    top: 30%;
    margin: 0px 50px 0px 50px;
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: bolder;
    border: 1px solid white;
}